@import 'tailwindcss';

:root {
	--primary: rgb(5, 184, 5);
}

html {
	background-color: black;
	color: var(--primary);
}

.btn {
	margin: 0.25rem;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	@apply rounded-sm border px-1 transition-all hover:border-green-900;
}

.link {
	@apply cursor-pointer transition-all hover:text-green-900;
	text-decoration-color: var(--primary);
}

.underlined {
	@apply underline decoration-double underline-offset-4;
}

.label {
	@apply text-xs text-green-900;
}
